
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; font-weight:bold ;margin-top: 10px">Show Tables</h2>
<br />
<br />
@Html.AntiForgeryToken()
@using (Html.BeginForm())
{
<div class="form-group book-bus-form-box">

    <div class="radio-btn">
        <input type="radio" class="btn" name="check" checked="checked" /><span>Show Table Names</span>
        <input type="radio" class="btn" name="check" /><span>Display a Table</span>
    </div>
   
    <div class="book-bus-form">
        <label>Select the Name of the Table</label>
        @foreach (var v in ViewBag.Tablesist)
        {
            <li class = "form-control">@v</li>
            <br />
        }

            <div class="input-div">
                <button type="button" id="show_buses" class="btn btn-primary bus"> Show Buses</button>
            </div>
        </div>
    
</div>
    <br />
    <br />

}
